body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active){background-color: #993BC3;}

ul.topnav li a.active{background-color:#3FE193 !important;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
.cont_div{
	position: absolute;
	top: 10%;
	left:0%;
	right: 0%;
	
}
#img{
	height: 300px;
	width: 230px;
	background-image:url(http://sumankumarbhadra.imad.hasura-app.io/ui/suman1.jpg);
	background-size:cover;
	top: 20%;
	left: 20%;
	position: absolute;
}
#img:hover{
	height: 300px;
	width: 230px;
	background-image:url(http://sumankumarbhadra.imad.hasura-app.io/ui/suman2.jpg);
	background-size:cover;
	top: 20%;
	left: 20%;
	position: absolute;
	
}
#prof{
	top:20em;
	left: 20%;
	position: absolute;
}
#imglogo1{
	height: 20%;
	left:40%;
	position:absolute;
}
#imglogo2{
	height: 20%;
	left:50%;
	position:absolute;
}
#imglogo3{
	height: 20%;
	left:60%;
	position:absolute;
}
.button1 {
  display: inline-block;
  border-radius: 4px;
  font-size: 28px;
  height:60px;
  width:110px;
  transition: all 0.5s;
  cursor: pointer;	
  margin-left:20px;
  color: #B759B9;
	background-color: #FFFFFF
}

.button1:hover span{
	resize: both"60";
}
#com_div{
	left: 10%;
	font-size: 25px;
	position: relative;
	
}
textarea{
	height:10em;
	width: 20em;
}
	 
#art_table{
	top:5em;
	left: 5%;
	right: 5%;
	position: relative;
	height: 100%;
}
#art_table tr{
	height: 6em;
}
	
#art_table td{
	width: 15em;
	
}
/*animation for colour change*/
@-webkit-keyframes animation1 {
    0%   {background-color: #191919;}
    25%  {background-color: #FFF056;}
    50%  {background-color: #5f2c7f;}
    100% {background-color: #F3FAB6;}
}
@keyframes animation1 {
    0%   {background-color: #191919;}
    25%  {background-color: #FFF056;}
    50%  {background-color: #5f2c7f;}
    100% {background-color: #F3FAB6;}
}
@-webkit-keyframes animation21 {
    0%   {background-color: #7D1935;}
    25%  {background-color: #DFE2DB;}
    50%  {background-color: #DF3D82;}
    100% {background-color: #FFF056;}
}
@keyframes animation2 {
    0%   {background-color: #7D1935;}
    25%  {background-color: #DFE2DB;}
    50%  {background-color: #DF3D82;}
    100% {background-color: #FFF056;}
}
@-webkit-keyframes animation3 {
    0%   {background-color: #C63D0F;}
    25%  {background-color: #DE1B1B;}
    50%  {background-color: #A8CD1B;}
    100% {background-color: #DFE2DB;}
}
@keyframes animation3 {
   	0%   {background-color: #C63D0F;}
    25%  {background-color: #DE1B1B;}
    50%  {background-color: #A8CD1B;}
    100% {background-color: #DFE2DB;}
}
@-webkit-keyframes animation4 {
    0%   {background-color: #191919;}
    25%  {background-color: #59d2d6;}
    50%  {background-color: #E44424;}
	100% {background-color: #DE1B1B;}
}
@keyframes animation4 {
    0%   {background-color: #191919;}
    25%  {background-color: #59d2d6;}
    50%  {background-color: #E44424;}
	100% {background-color: #DE1B1B;}
}
#td1,#td10,#td12,#td11,#td8{
	-webkit-animation-name: animation1; 
    -webkit-animation-duration: 4s;  
    -webkit-animation-iteration-count: infinite; 
    animation-name: animation1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#td3,#td6,#td13,#td19,#td16{
	-webkit-animation-name: animation2; 
    -webkit-animation-duration: 4s;  
    -webkit-animation-iteration-count: infinite; 
    animation-name: animation2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#td4,#td20,#td14,#td17,#td2{
	-webkit-animation-name: animation3; 
    -webkit-animation-duration: 4s;  
    -webkit-animation-iteration-count: infinite; 
    animation-name: animation3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#td7,#td9,#td15,#td5,#td18{
	-webkit-animation-name: animation4; 
    -webkit-animation-duration: 4s;  
    -webkit-animation-iteration-count: infinite; 
    animation-name: animation4;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}